<% if model.errors.any? %>
  <div class="alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<style type="text/css" media="screen">
	.alert {
		background-color: red;
		color: white;
	}
</style>